In [3]:
def get_data(file_name):
    import pandas as pd
    df = pd.read_csv(f"https://raw.githubusercontent.com/simonwarchol/NBA-Height-Weight/master/CSVs/{file_name}.csv")
    display(df)
    return df

abc = get_data("total")

                    Name   Height (Inches)  Height(Feet-Inches)   Weight
0             A.C. Green                81                  6-9      220
1          A.J. Bramlett                82                 6-10      227
2           A.J. English                75                  6-3      175
3            A.J. Guyton                73                  6-1      180
4             A.J. Price                74                  6-2      181
...                  ...               ...                  ...      ...
3411      Zeljko Rebraca                84                  7-0      257
3412         Zelmo Beaty                81                  6-9      225
3413     Zendon Hamilton                83                 6-11      250
3414      Zoran Planinic                79                  6-7      195
3415  Zydrunas Ilgauskas                87                  7-3      238

[3416 rows x 4 columns]

In [5]:
from pycaret.datasets import get_data
data = get_data('total')

ValueError: Data could not be read. Please check your inputs...

In [6]:
def get_data(file_name):
    import pandas as pd
    df = pd.read_csv(f"https://raw.githubusercontent.com/EnggQasim/UIT/master/Deep_Learning/Chapter1/data/{file_name}.csv")
    display(df)
    return df

abc = get_data("weight-height")

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [7]:
from pycaret.datasets import get_data
data = get_data('diabetes')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
data.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
from pycaret.classification import *
s = setup(data, target = 'Class variable', session_id = 123)

In [10]:
# functional API
best = compare_models()

# OOP API
best = s.compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

In [17]:
abc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [18]:
eda()

ModuleNotFoundError:
'autoviz' is a soft dependency and not included in the pycaret installation. Please run: `pip install autoviz` to install.
Alternately, you can install this by running `pip install pycaret[mlops]`