# class-3

## Applying 45 strong class method or card variable

In [16]:
first_name = "Adil"
last_name = "Maqsood"
student_id = "AI-1191102"
institute_name = "Saylani Mass IT Training"
age = 21


card = f"""Institute Name: {institute_name}
Student Full Name: {first_name} {last_name}
Student id : {student_id}
Age: {age}

"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

In [7]:
for  idx, i in enumerate([i for i in dir(card) if "_" not in i]):
    print(idx,i)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [19]:
print(card.capitalize())

Institute name: saylani mass it training
student full name: adil maqsood
student id : ai-1191102
age: 21

In [18]:
print(card.casefold())

institute name: saylani mass it training
student full name: adil maqsood
student id : ai-1191102
age: 21

In [44]:
print(card.center(1))

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

In [105]:
example = "adil"

a = example.center(40)

print(a)

                  adil

In [47]:
print(card)
card.count('Name')

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

2

In [75]:
print(card)
card.encode()

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

b'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21\n\n'

In [110]:
print(card)
card.endswith("Adil")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [112]:
card.expandtabs()
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

In [101]:
example = "A\td\ti\tl"

print(example.expandtabs(4))
print(example.expandtabs(5))
print(example.expandtabs(6))

A   d   i   l
A    d    i    l
A     d     i     l

In [84]:
print(card)
card.find('t')

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

3

In [113]:
print(card)
card.format()

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21\n\n'

In [114]:
txt = "For only {price:.2f} dollars!" # .2f is a place holder for floating number
print(txt.format(price = 50.1))

For only 50.10 dollars!

In [123]:
print(card)
card.index("t")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

3

In [125]:
print(card)
card.isalnum() #The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [127]:
print(card)
card.isalpha() #The isalpha() method returns True if all the characters are alphabet letters (a-z).

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [129]:
print(card)
card.isascii() #The isascii() method returns True if all the characters are ascii characters  (a-z).

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

True

In [130]:
print(card)
card.isdecimal() #The isdecimal() method returns True if all the characters are decimals (0-9).

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [131]:
print(card)
card.isdigit()  #isdigit() method returns True if all the characters are digits, otherwise False.

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [132]:
print(card)
card.isidentifier() #The isidentifier() method returns True if the string is a valid identifier, otherwise False.

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [133]:
print(card)
card.islower() #Returns True if all characters in the string are lower case

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [134]:
print(card)
card.isnumeric() #returns true if all characters in the string are numeric

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [135]:
print(card)
card.isprintable() #Returns True if all characters in the string are printable

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [136]:
print(card)
card.isspace() # Returns True if all characters in the string are whitespaces

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [138]:
print(card)
card.istitle() #returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [139]:
print(card)
card.isupper() #Returns True if all characters in the string are upper case

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [146]:
print(card) # A string must be specified as the separator.
card = "#".join(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

In [154]:
first = "AI"
last  = "DS"

x = first.join(last)

print (x)

DAIS

In [160]:
print(card)
card.ljust(2)

I#n#s#t#i#t#u#t#e# #N#a#m#e#:# #S#a#y#l#a#n#i# #M#a#s#s# #I#T# #T#r#a#i#n#i#n#g#
#S#t#u#d#e#n#t# #F#u#l#l# #N#a#m#e#:# #A#d#i#l# #M#a#q#s#o#o#d#
#S#t#u#d#e#n#t# #i#d# #:# #A#I#-#1#1#9#1#1#0#2#
#A#g#e#:# #2#1#
#

'I#n#s#t#i#t#u#t#e# #N#a#m#e#:# #S#a#y#l#a#n#i# #M#a#s#s# #I#T# #T#r#a#i#n#i#n#g#\n#S#t#u#d#e#n#t# #F#u#l#l# #N#a#m#e#:# #A#d#i#l# #M#a#q#s#o#o#d#\n#S#t#u#d#e#n#t# #i#d# #:# #A#I#-#1#1#9#1#1#0#2#\n#A#g#e#:# #2#1#\n#\n'

In [162]:
txt = "python"

x = txt.ljust(10)

print(x, "is my favorite language.") #In the result, there are actually 14 whitespaces to the right of the word banana.

python     is my favorite language.

In [7]:
first_name = "Adil"
last_name = "Maqsood"
student_id = "AI-1191102"
institute_name = "Saylani Mass IT Training"
age = 21


card = f"""Institute Name: {institute_name}
Student Full Name: {first_name} {last_name}
Student id : {student_id}
Age: {age}

"""
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

In [9]:
print(card)
card.lower() #Converts a string into lower case

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'institute name: saylani mass it training\nstudent full name: adil maqsood\nstudent id : ai-1191102\nage: 21\n\n'

In [10]:
print(card)
card.lstrip() #lstrip() method removes any leading characters (space is the default leading character to remove)

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21\n\n'

In [15]:
print(card)
card.maketrans("I", "K")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

{73: 75}

In [13]:
txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable)) #returns a mapping table that can be used with the translate() method to replace specified characters.

Hello Pam!

In [18]:
print(card)
card.partition("Adil") #Returns a tuple where the string is parted into three parts

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

('Institute Name: Saylani Mass IT Training\nStudent Full Name: ',
 'Adil',
 ' Maqsood\nStudent id : AI-1191102\nAge: 21\n\n')

In [20]:
print(card)
card.replace("Adil" , "ahsan")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: ahsan Maqsood\nStudent id : AI-1191102\nAge: 21\n\n'

In [22]:
print(card)
card.rfind("Name")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

54

In [24]:
print(card)
card.rindex("Adil") # rfind nd rindex both are same

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

60

In [30]:
print(card.rjust(11)) #method will right align the string, using a specified character (space is default) as the fill character.

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

In [32]:
print(card)
card.rpartition("Name")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

('Institute Name: Saylani Mass IT Training\nStudent Full ',
 'Name',
 ': Adil Maqsood\nStudent id : AI-1191102\nAge: 21\n\n')

In [34]:
print(card)
card.rsplit("Age")

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

['Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\n',
 ': 21\n\n']

In [36]:
print(card)
card.rstrip() #Returns a right trim version of the string

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21'

In [38]:
print(card)
card.split() #Splits the string at the specified separator, and returns a list

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

['Institute',
 'Name:',
 'Saylani',
 'Mass',
 'IT',
 'Training',
 'Student',
 'Full',
 'Name:',
 'Adil',
 'Maqsood',
 'Student',
 'id',
 ':',
 'AI-1191102',
 'Age:',
 '21']

In [40]:
print(card)
card.splitlines() #	Splits the string at line breaks and returns a list

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

['Institute Name: Saylani Mass IT Training',
 'Student Full Name: Adil Maqsood',
 'Student id : AI-1191102',
 'Age: 21',
 '']

In [44]:
print(card)
card.startswith("Institue") #returns true if the string starts with specified value

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

False

In [47]:
print(card)
card.strip() #Returns a trimmed version of the string

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21'

In [48]:
print(card)
card.swapcase() #Swaps cases, lower case becomes upper case and vice versa

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'iNSTITUTE nAME: sAYLANI mASS it tRAINING\nsTUDENT fULL nAME: aDIL mAQSOOD\nsTUDENT ID : ai-1191102\naGE: 21\n\n'

In [50]:
print(card)
card.title() #Converts the first character of each word to upper case

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass It Training\nStudent Full Name: Adil Maqsood\nStudent Id : Ai-1191102\nAge: 21\n\n'

In [53]:
print(card)
card.translate("Adil") #in it we use a dictionary with ascii codes

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21\n\n'

In [54]:
print(card)
card.upper() #Converts a string into upper case

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'INSTITUTE NAME: SAYLANI MASS IT TRAINING\nSTUDENT FULL NAME: ADIL MAQSOOD\nSTUDENT ID : AI-1191102\nAGE: 21\n\n'

In [57]:
print(card)
card.zfill(1) #Fills the string with a specified number of 0 values at the beginning

Institute Name: Saylani Mass IT Training
Student Full Name: Adil Maqsood
Student id : AI-1191102
Age: 21

'Institute Name: Saylani Mass IT Training\nStudent Full Name: Adil Maqsood\nStudent id : AI-1191102\nAge: 21\n\n'