# Assignment
* create list of dictionary with (name,id,user,password,email,phone)
* create program where user can login with user/email/phone but password must be same

In [15]:
data = [{'id':1,'name':"adil maqsood",'u':'adil','email': 'adilmaqsood@gmail.com','phone': '09233312345' ,'p':'123'},
       {'id':2,'name':"waleed khan",'u':'waleed','email': 'waleedkhan@gmail.com','phone': '092333123', 'p':'123'},
       {'id':3, "name":"Muhammad rohaib",'u':'rohaib','email': 'muhammadrohaib@gmail.com','phone': '0923331234','p':'123'}]

user = input("Enter user Name")
email = input("enter your email")
phone = input("enter your phone number")
pas = input("Password")

for d in data:
    if d['u'] == user or d['p'] == pas or d['email'] == email or d['phone'] == phone :
        print(d)
        break
else:
    print("Invalid User or Password")

Enter user Nameadil
enter your emailno
enter your phone number09233312345
Password123
{'id': 1, 'name': 'adil maqsood', 'u': 'adil', 'email': 'adilmaqsood@gmail.com', 'phone': '09233312345', 'p': '123'}

In [14]:
data = [{'id':1,'name':"adil maqsood",'u':'adil','email': 'adilmaqsood@gmail.com','phone': '09233312345' ,'p':'123'},
       {'id':2,'name':"waleed khan",'u':'waleed','email': 'waleedkhan@gmail.com','phone': '09233312345', 'p':'123'},
       {'id':3, "name":"Muhammad rohaib",'u':'rohaib','email': 'muhammadrohaib@gmail.com','phone': '09233312345','p':'123'}]

user = input("Enter user Name")
mail = input("enter your email")
phone = input("enter your phone number")
pas = input("Password")

for d in data:
    if d['u'] == user and d['p'] == pas and d['email'] == mail and d['phone'] == phone :
        print(d)
        break
else:
    print("Invalid User or Password")

Enter user Nameadil
enter your emailadilmaqsood@gmail.com
enter your phone number09233312345
Password123
{'id': 1, 'name': 'adil maqsood', 'u': 'adil', 'email': 'adilmaqsood@gmail.com', 'phone': '09233312345', 'p': '123'}

# Create Table

 1.pass argument1 2 to n table will be generated
 
 2.pass argument2 range of each table 1 to n

* argument1 = 3
* agrument2 = 5

In [30]:
table = int(input("Enter a number: "))

for i in range(1,4):
    print(f"{table} X {i} = {table*i}")

Enter a number: 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9

In [31]:
table = int(input("Enter a number: "))

for i in range(1,4):
    print(f"{table} X {i} = {table*i}")

Enter a number: 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12

In [29]:
table = int(input("Enter a number : "))

for i in range(1,6):
    print(f"{table} X {i} = {table*i}")

Enter a number : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [28]:
table = int(input("enter a number : "))

for i in range (1,6):
    print (f"{table} x {i} = {table*i}")

enter a number : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10